@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');

* {
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-family: 'Cormorant Garamond';
    text-align: center;
    color: #434343;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
}

.form-control {
    font-size: 1.1rem;
    font-weight: 600;
    min-height: 48px;
    border-color: #c8a2c8;
}

.form-control:focus {
    border-color: #723dbe;
    box-shadow: 0 0 0 0.2rem rgba(114, 61, 190,.25);
}

.btn-custom {
    background: #723dbe;
    border-color: #723dbe;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 52px;
    transition: .5s;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
    background: #54229d;
    border-color: #54229d;
    color: #fff;
    letter-spacing: 0.5px;
}