@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins';
}

.label-email, 
.label-password {
    font-size: 1.2rem;
    font-weight: 500;
    color: #434343;
}

.form-control {
    min-height: 48px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.form-control:focus {
    border-color: rgba(255, 182, 122);
    box-shadow: 0 0 0 0.2rem rgba(255, 182, 93);
}

.forgot-link {
    font-size: 1.1rem;
}

.forgot-link a {
    color: #555;
}

.forgot-link a:hover {
    color: #e07121;
}

.forgot-link label {
    margin-bottom: 0;
}

.btn-custom {
    background: #e07121;
    border-color: #e07121;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 52px;
    transition: .5s;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
    background: #e55806;
    border-color: #e55806;
    color: #fff;
    letter-spacing: 0.5px;
} 

p {
    font-size: 1.1rem;
}

.mt-3 a {
    color: #555;
}

.mt-3 a:hover {
    color: #e07121;
}