.projeto{
    text-align: justify;
    background-color: beige;

}

.voluntarios{
    text-align: justify;
    background-color: beige;
   
}

.card{
     background: linear-gradient(to top, red, orange, yellow );
     
}

.rodape{
    background-color: #D3D3D3;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 25px;
    align-content: center;

}


